$info: #038ae7;
$warning: #d47e00;
$error: $danger;
$notice_tertiary: #3c1c8c;

.subscription-notice {
  background-color: $notice_tertiary;
}

.d-header-icons .subscription-notice {
  right: 0;
  left: unset;
}

.nav-pills .subscription-notice {
  margin-left: 0.5em;
}

.subscription-client-notice-row {
  padding: 0.75em;
  margin-bottom: 1em;
  border: 1px solid var(--primary-low);

  &.expired,
  &.dismissed,
  &.expired p,
  &.dismissed p {
    color: var(--primary-medium) !important;

    .btn {
      border: 1px solid rgba($notice_tertiary, 0.3);
      background: rgba($notice_tertiary, 0.1);
      color: var(--primary-medium);

      &:hover,
      &:active {
        border: 1px solid rgba($notice_tertiary, 0.5) !important;
        background: rgba($notice_tertiary, 0.5) !important;
        color: rgba($secondary, 0.9) !important;
      }
    }
  }

  &.expired a,
  &.dismissed a {
    color: rgba($tertiary, 0.5);
  }

  .notice-badge {
    padding: 0 0.5em;
  }

  .btn {
    padding: 0.35em 0.5em;
  }

  .btn {
    border: 1px solid rgba($notice_tertiary, 0.3);
    background: rgba($notice_tertiary, 0.1);
    color: var(--primary);

    &:hover,
    &:active {
      border: 1px solid $notice_tertiary !important;
      background: $notice_tertiary !important;
      color: var(--secondary) !important;
    }
  }

  .notice-header {
    display: flex;

    .notice-title {
      padding: 0;
    }

    .notice-header-right {
      margin-left: auto;
      display: flex;
      align-items: center;

      .notice-badge {
        margin-left: 0.5em;
      }
    }
  }

  .dismiss-notice-container,
  .hide-notice-container {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dismiss-notice,
  .hide-notice {
    display: flex;
    align-items: center;

    .d-icon {
      margin-right: 0;
      color: var(--primary);
    }
  }
}

.notice-badge {
  display: inline-flex;
  align-items: center;
  min-height: 25px;
  box-sizing: border-box;
  color: var(--primary) !important;
}

.subscription-client-notice,
tr.subscription-client-notice-row {
  background-color: rgba($primary-medium, 0.1);
  border: 1px solid rgba($primary-medium, 0.5);

  &:not(.expired):not(.dismissed) {
    &.info {
      background-color: rgba($info, 0.1);
      border: 1px solid rgba($info, 0.5);

      td {
        border-top: 1px solid rgba($info, 0.5);
      }

      &:last-of-type td {
        border-bottom: 1px solid rgba($info, 0.5);
      }
    }

    &.warning {
      background-color: rgba($warning, 0.1);
      border: 1px solid rgba($warning, 0.5);

      td {
        border-top: 1px solid rgba($warning, 0.5);
      }

      &:last-of-type td {
        border-bottom: 1px solid rgba($warning, 0.5);
      }
    }

    &.connection-error {
      background-color: rgba($error, 0.1);
      border: 1px solid rgba($error, 0.5);

      td {
        border-top: 1px solid rgba($error, 0.5);
      }

      &:last-of-type td {
        border-bottom: 1px solid rgba($error, 0.5);
      }
    }
  }

  &:last-of-type td {
    border-bottom: 1px solid rgba($primary-medium, 0.5);
  }
}

.notice-message {
  position: relative;

  .notice-message-content {
    background-color: var(--secondary);
    padding: 1em;
    z-index: 1;
    box-shadow: shadow("dropdown");
    border-top: 1px solid var(--primary-low);
    width: 500px;

    p {
      margin: 0;
    }
  }
}

.notice-type {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notice-source,
.notice-resource {
  white-space: nowrap;
}

.notice-status {
  width: 200px;
}
