<div class="admin-client-sub-deprecation-notice">
  <h3>👋 Hey there Custom Wizard Subscriber</h3>
  <p>Pavilion is happy to announce that Custom Wizard Subscriptions no longer require the <a href="https://github.com/paviliondev/discourse-subscription-client" rel="noopener noreferrer" target="_blank" >Subscription Client Plugin</a>. Please remove the Subscription Client Plugin, and your subscription will continue to work as normal. If you have any questions don't hestiate to reach out to us on <a href="https://coop.pavilion.tech">coop.pavilion.tech</a> or email <a href="mailto:support@pavilion.tech">support@pavilion.tech</a>. This message will disappear when you remove the Subscription Client Plugin.</p>
</div>
