@import "common/components/buttons";
@import "components/message";
@import "components/notice";
@import "components/supplier";

.admin-subscription-client-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;

  h3,
  label {
    margin: 0;
  }

  label {
    padding: 0.4em 0.5em;
    margin-left: 0.75em;
    background-color: var(--success);
    color: var(--secondary);
  }

  .buttons {
    display: flex;
    align-items: center;

    .loading-container {
      margin-right: 1em;
    }

    button {
      input {
        margin: 0 0.5em 0 0;
      }
    }
  }
}

.admin-subscription-client-container {
  .detail-container {
    padding: 0.25em 1em 1em 1em;
    background-color: var(--primary-very-low);

    .subscription-state {
      padding: 0.25em 0.5em;
      margin-right: 0.75em;

      &.active {
        background-color: var(--success);
        color: var(--secondary);
      }
    }
    .subscription-updated-at {
      padding: 0.25em;
      font-size: 0.7em;
    }
  }
}

.subscription-client-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.subscription-client.notices .admin-subscription-client-container tbody {
  border-top: unset;

  tr {
    border-bottom: unset;
  }
}

.subscription-notices-link {
  position: relative;

  div > a {
    @include btn;
    color: var(--secondary) !important;
    background-color: var(--primary-medium);

    &.active {
      background-color: var(--tertiary) !important;
      color: var(--secondary) !important;
    }
  }
}

.notice-count-container {
  position: relative;
}

.active-notice-count {
  background-color: var(--danger);
  color: var(--secondary);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 0.7em;
}

.subscription-client-notice {
  padding: 0.75em;
  margin-bottom: 1em;
  border: 1px solid var(--primary-low);

  &.dismissed {
    display: none;
  }
  &.expired .notice-badge:not(.notice-expired-at),
  &.expired a,
  &.expired p {
    color: var(--primary-medium) !important;
  }

  .notice-header {
    display: flex;

    .notice-title {
      padding: 0;
    }

    .notice-header-right {
      margin-left: auto;
      display: flex;
      align-items: center;

      .notice-badge {
        margin-left: 0.5em;
      }
    }
  }

  .dismiss-notice-container,
  .hide-notice-container {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dismiss-notice,
  .hide-notice {
    display: flex;
    align-items: center;

    .d-icon {
      margin-right: 0;
      color: var(--primary);
    }
  }
}
